@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Ibarra Real Nova'; sans-serif;
}
.menu-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.esquerda-login{
    width: 50vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #44564a;
}
.esquerda-login > h1 {
    font-size: 3vw;
    color: #f0f3f1;
}
.image-esquerda {
    width: 20vw;
}
.direita-login{
    width: 50vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fed8c3;
}
.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #f0f3f1;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
.card-login > h1{
    color: #44564a;
    font-weight: 800;
    margin: 0;
    font-size: 3vw;
}
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px; 
}
.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 16px;
    background: #f0f3f1;
    color: #4f4f4f;
    font-size: 12pt;
    box-shadow: 0px ;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}
.textfield > label{
    color: #4f4f4f;
    margin-bottom: top;
}
.textfield > input::placeholder{
    color: #c3c6c4
}
.botao-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color:#ffffff;
    background: #44564a;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #5f7666;
}
